@media screen and (min-width: 750px) {
    .navigation {
        display: flex;
        flex-direction: row;
    }
    #menu {
        display: none;
    }
    .main-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .events-card {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
    }
    .locals {
        grid-column: 2 /span 2;
        grid-row: span 2;        
    }
    .local-cards img:hover {
        filter: brightness(1.2);
    }
    .left-col {
        grid-row: span 2;
        max-height: fit-content;
    }
    .events {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 90%;
    }
    button.event-details {
        left: 25%;
    }
    /* Join Page */
    .membership-benefit-application {
        grid-column: 1;
        grid-row: 1 / span 3;
    }
    .membership-benefit-table {
        margin: 1rem auto auto auto;
        display: flex;
        grid-column: 2 / span 2;
        grid-row: 1 ;
        width: 100%;
    }
}
