@media screen and (min-width: 600px) {
    .navigation {
        display: flex;
        flex-direction: row;
    }
    #menu {
        display: none;
    }
    .main-grid {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .events-card {
        grid-row: 1 / span 2;
        grid-column: 1;
    }
    .events {
        display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            width: 90%;
    }
    button.event-details {
        left: 25%;
    }
}
