@media screen and (min-width: 720px) {
    body{
        font-size: 1.5vw;
    }
    
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: var(--color1);
        font-size: 1.5vw;
        /* flex-direction: column; */
    }
    #menu {
        /* hide hamburger when not in use */
        display: none; 
    }
    main {
        grid-template-rows: max-content max-content max-content;
        grid-template-columns: 2fr 1fr;
    }
    h2{
        grid-column: span 2;
        font-size: 3vw;
    }
    #map {
        grid-column: 1 / span 2;
    }
    .herolabel p {
        font-size: 1.5rem;
    }
    header {
        font-size: 3vw;
    }
    h3 {
        font-size: 2vw;
    }
}