@media screen and (min-width: 32rem) {
    span{
        font-size: 2rem;
    }
    nav {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px 0 10px 0;
    }
    main {
        grid-template-rows: max-content max-content max-content;
        grid-template-columns: 2fr 1fr;
    }
    h1 {
        grid-column: span 2;
    }
}