@media screen and (min-width: 32rem) {
    .title{
        font-size: 2rem;
    }
    .navigation {
        display: flex;
    }
    #menu {
        display: none;
    }
    main {
        grid-template-rows: max-content max-content max-content;
        grid-template-columns: 2fr 1fr;
    }
    h1 {
        grid-column: span 2;
    }
}